<mat-list>
    <mat-list-item *ngFor="let item of model"
                   (click)="select(item.id)">
        <dl>
            <dt i18n="@@PETS_LIST_ID">Id</dt>
            <dd>{{item.id}}</dd>
        </dl>
        <dl>
            <dt i18n="@@PETS_LIST_NAME">Name</dt>
            <dd>{{item.name}}</dd>
        </dl>
        <mat-label data-qa="petType">{{item.petType}}</mat-label>
        <dl>
            <dt i18n="@@PETS_LIST_USER_LAST_NAME">User last name</dt>
            <dd>{{item.userLastName}}</dd>
        </dl>
    </mat-list-item>
    <div *ngIf="model.length === 0"
         i18n="@@PETS_LIST_NO_RESULTS">
        No results found
    </div>
    <mat-paginator *ngIf="model.length !== 0"
                   [length]="resultsLength"
                   [pageSize]="take"
                   [pageSizeOptions]="[5, 10, 15, 25, 100]"
                   (page)="onChangePage($event)"
                   data-qa="paginator"></mat-paginator>
</mat-list>
