<form (ngSubmit)="onSubmitClick()"
      name="changePasswordForm"
      [formGroup]="formGroup"
      novalidate>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@CHANGE_PASSWORD_FORM_OLD_PASSWORD">Old password</mat-label>
        <input inputAutoFocus
               matInput
               formControlName="oldPassword"
               required
               data-qa="oldPassword"
               type="password"
               i18n-placeholder="@@CHANGE_PASSWORD_FORM_OLD_PASSWORD"
               placeholder="Old password"
               autocomplete="off" />
        <mat-error *ngIf="oldPasswordControl.hasError('required')"
                   i18n="@@CHANGE_PASSWORD_FORM_OLD_PASSWORD_REQUIRED">Old password is required</mat-error>
        <mat-error *ngIf="oldPasswordControl.hasError('minlength')"
                   i18n="@@CHANGE_PASSWORD_FORM_OLD_PASSWORD_MIN">Old password min 12 characters</mat-error>
        <mat-error *ngIf="oldPasswordControl.hasError('maxlength')"
                   i18n="@@CHANGE_PASSWORD_FORM_OLD_PASSWORD_MAX">Old password max 128 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD">New password</mat-label>
        <input matInput
               formControlName="newPassword"
               required
               data-qa="newPassword"
               type="password"
               i18n-placeholder="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD"
               placeholder="New password"
               autocomplete="off" />
        <mat-error *ngIf="newPasswordControl.hasError('required')"
                   i18n="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD_REQUIRED">New password is required</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('minlength')"
                   i18n="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD_MIN">New password min 12 characters</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('maxlength')"
                   i18n="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD_MAX">New password max 128 characters</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('pattern')"
                   i18n="@@CHANGE_PASSWORD_FORM_NEW_PASSWORD_PATTERN">New password pattern</mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submitDisabled || !formGroup.valid"
            data-qa="submit">
        <ng-container i18n="@@CHANGE_PASSWORD_FORM_SUBMIT">Submit</ng-container>
    </button>
</form>
