<form (ngSubmit)="onSubmitClick()"
      name="forgotPasswordForm"
      [formGroup]="formGroup"
      novalidate>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@FORGOT_PASSWORD_FORM_EMAIL">Email</mat-label>
        <input inputAutoFocus
               matInput
               formControlName="email"
               required
               data-qa="email"
               type="email"
               i18n-placeholder="@@FORGOT_PASSWORD_FORM_EMAIL"
               placeholder="Email"
               autocomplete="off" />
        <mat-error *ngIf="emailControl.hasError('required')"
                   i18n="@@FORGOT_PASSWORD_FORM_EMAIL_REQUIRED">Email is required</mat-error>
        <mat-error *ngIf="emailControl.hasError('minlength')"
                   i18n="@@FORGOT_PASSWORD_FORM_EMAIL_MIN">Email min 6 characters</mat-error>
        <mat-error *ngIf="emailControl.hasError('maxlength')"
                   i18n="@@FORGOT_PASSWORD_FORM_EMAIL_MAX">Email max 128 characters</mat-error>
        <mat-error *ngIf="emailControl.hasError('email')"
                   i18n="@@FORGOT_PASSWORD_FORM_EMAIL_EMAIL">Email email</mat-error>
        <mat-error *ngIf="emailControl.hasError('pattern')"
                   i18n="@@FORGOT_PASSWORD_FORM_EMAIL_PATTERN">Email pattern</mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submitDisabled || !formGroup.valid"
            data-qa="submit">
        <ng-container i18n="@@FORGOT_PASSWORD_FORM_SUBMIT">Submit</ng-container>
    </button>
</form>
