<form (ngSubmit)="onSubmitClick()"
      name="resetPasswordForm"
      [formGroup]="formGroup"
      novalidate>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@RESET_PASSWORD_FORM_RESET_PASSWORD_CODE">Reset password code</mat-label>
        <input inputAutoFocus
               matInput
               formControlName="resetPasswordCode"
               required
               data-qa="resetPasswordCode"
               type="password"
               i18n-placeholder="@@RESET_PASSWORD_FORM_RESET_PASSWORD_CODE"
               placeholder="Reset password code"
               autocomplete="off" />
        <mat-error *ngIf="resetPasswordCodeControl.hasError('required')"
                   i18n="@@RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_REQUIRED">Reset password code is required</mat-error>
        <mat-error *ngIf="resetPasswordCodeControl.hasError('minlength')"
                   i18n="@@RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_MIN">Reset password code min 64 characters</mat-error>
        <mat-error *ngIf="resetPasswordCodeControl.hasError('maxlength')"
                   i18n="@@RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_MAX">Reset password code max 64 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@RESET_PASSWORD_FORM_NEW_PASSWORD">New password</mat-label>
        <input matInput
               formControlName="newPassword"
               required
               data-qa="newPassword"
               type="password"
               i18n-placeholder="@@RESET_PASSWORD_FORM_NEW_PASSWORD"
               placeholder="New password"
               autocomplete="off" />
        <mat-error *ngIf="newPasswordControl.hasError('required')"
                   i18n="@@RESET_PASSWORD_FORM_NEW_PASSWORD_REQUIRED">New password is required</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('minlength')"
                   i18n="@@RESET_PASSWORD_FORM_NEW_PASSWORD_MIN">New password min 12 characters</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('maxlength')"
                   i18n="@@RESET_PASSWORD_FORM_NEW_PASSWORD_MAX">New password max 128 characters</mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('pattern')"
                   i18n="@@RESET_PASSWORD_FORM_NEW_PASSWORD_PATTERN">New password pattern</mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submitDisabled || !formGroup.valid"
            data-qa="submit">
        <ng-container i18n="@@RESET_PASSWORD_FORM_SUBMIT">Submit</ng-container>
    </button>
</form>
