<form (ngSubmit)="onSubmitClick()"
      name="verifyEmailForm"
      [formGroup]="formGroup"
      novalidate>
    <mat-form-field appearance="outline"
                    class="u-1/1">
        <mat-label i18n="@@VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE">Email verification code</mat-label>
        <input inputAutoFocus
               matInput
               formControlName="emailVerificationCode"
               required
               data-qa="emailVerificationCode"
               type="password"
               i18n-placeholder="@@VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE"
               placeholder="Email verification code"
               autocomplete="off" />
        <mat-error *ngIf="emailVerificationCodeControl.hasError('required')"
                   i18n="@@VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_REQUIRED">Email verification code is required</mat-error>
        <mat-error *ngIf="emailVerificationCodeControl.hasError('minlength')"
                   i18n="@@VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_MIN">Email verification code min 64 characters</mat-error>
        <mat-error *ngIf="emailVerificationCodeControl.hasError('maxlength')"
                   i18n="@@VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_MAX">Email verification code max 64 characters</mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submitDisabled || !formGroup.valid"
            data-qa="submit">
        <ng-container i18n="@@VERIFY_EMAIL_FORM_SUBMIT">Submit</ng-container>
    </button>
</form>
