<mat-select [value]="selected"
            (selectionChange)="select($event.value)"
            [disabled]="disabled"
            (openedChange)="touch()"
            disableOptionCentering
            data-qa="dropdownItems"
            [placeholder]="placeholder">
    <mat-option *ngIf="needsFiltering">
        <ngx-mat-select-search [formControl]="filterCtrl"
                               placeholderLabel="Search"
                               noEntriesFoundLabel="No matches">
            <mat-icon svgIcon="icon-close"
                      [style.width]="'14px'"
                      [style.height]="'18px'"
                      ngxMatSelectSearchClear
                      class="u-margin-xxs"></mat-icon>
        </ngx-mat-select-search>
    </mat-option>
    <mat-option disabled
                i18n="@@NO_ITEMS_TO_SELECT"
                *ngIf="model.length === 0">No items to select</mat-option>
    <mat-option *ngFor="let item of filtered"
                [value]="item">{{item | i18nSelect: translationMap}}</mat-option>
</mat-select>
